<div class="city-name">
  City Name: {{cityName}}
</div>


<sebm-google-map
  class="map"
  [latitude]="mapControl.center.lat" [longitude]="mapControl.center.lng"
  [zoom]="mapControl.zoom"
>


  <!-- Road Incidents -->
  <ng-container *ngFor="let roadIncident of roadIncidents | async">

    <!-- location pins -->
    <sebm-google-map-marker [latitude]="roadIncident.location.latLng.lat"
                            [longitude]="roadIncident.location.latLng.lng"
                            [zIndex]="1"
                            [iconUrl]="'./assets/images/location-pin-med.png'"
    >
    </sebm-google-map-marker>

    <!-- incident type -->
    <sebm-google-map-marker [latitude]="roadIncident.location.latLng.lat"
                            [longitude]="roadIncident.location.latLng.lng"
                            [zIndex]="1"
                            [iconUrl]="'./assets/images/' + roadIncident.icon + '-xs.png'"
    >
    </sebm-google-map-marker>
  </ng-container>
  <!-- /Road Incidents -->

  <!-- Incident Risk Alerts -->
  <ng-container *ngFor="let riskAlert of riskAlerts | async">
    <ng-container *ngIf="riskAlert.type === 'incident'">

      <sebm-google-map-marker [latitude]="riskAlert.lat"
                              [longitude]="riskAlert.lng"
                              [zIndex]="1"
                              [iconUrl]="'./assets/images/pin-warning.png'"
      >
      </sebm-google-map-marker>

    </ng-container>
  </ng-container>

</sebm-google-map>
